.Card {
    background-color: #FAFAFA;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    position: relative;
}

.Card:hover {
    box-shadow: 0 2px 6px 0 rgba(197,186,186,0.50);
    background: #F3F3F3;
}

.Card:hover > .Card-Description {
    background: #F3F3F3;
}

.Card_size_s {
    grid-column: span 2;
}

.Card_size_m {
    grid-column: span 3;
    grid-row: auto / span 2;
}

.Card_size_l {
    grid-column: span 4;
    grid-row: auto / span 3;
}

.Card-MainInfo {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px 20px 0 20px;
}

.Card_type_critical .Card-MainInfo {
    background-color: #DB5341;
    border-radius: 20px 20px 0 0;
    padding-bottom: 40px;
}

.Card-TitleRow {
    display: flex;
    align-items: center;
    height: 55px;
    color: #333333;
    margin-bottom: 15px;
}

.Card-Icon {
    margin-right: 15px;
}

.Card-Title {
    font-family: Arial-BoldMT, sans-serif;
    font-size: 24px;
}

.Card-BasicInfo {
    display: flex;
    justify-content: space-between;
    font-family: ArialMT, sans-serif;
    font-size: 18px;
    margin-top: 15px;
}

.Card-Description {
    font-family: ArialMT, sans-serif;
    font-size: 20px;
    padding: 0 20px;
    background-color: transparent;
    margin-top: 20px;
}

.Card_type_critical .Card-Description {
    border-radius: 20px;
    padding-top: 20px;
    background-color: #FAFAFA;
    margin-top: -20px;
}

.Card_size_s .Card-BasicInfo {
    flex-direction: column;
}

.Card_size_s .Card-Source {
    margin-bottom: 20px;
}

.Card_type_critical .Card-Title,
.Card_type_critical .Card-BasicInfo {
    color: #FFF;
}

.Card-Data {
    padding: 20px 20px 0 20px;
}

.Card-Image {
    width: 100%;
}

.Card-Button {
    width: 132px;
    height: 54px;
    border-radius: 8px;
    border-width: 0;
    font-family: Arial-BoldMT, sans-serif;
    font-size: 20px;
    color: #000000;
    background: #E5E5E5;
    outline: none;
    cursor: pointer;
}

.Card-Button_isPrimary {
    background: #FFD93E;
    margin-right: 18px;
}

.Measurements {
    font-family: ArialMT, sans-serif;
    font-size: 18px;
    display: flex;
}

.Measurements-Temperature {
    margin-right: 50px;
}

.Measurements-Text {
    font-family: Arial-BoldMT, sans-serif;
    margin-left: 5px;
}
