.Navigation {
    list-style: none;
    padding-inline-start: 0;
}

.Navigation-Link {
    float: left;
    margin-right: 30px;
}

.Navigation-Item {
    cursor: pointer;
    color: #858585;
    text-decoration: none;
}
