.Player-Display {
    width: 100%;
}

.Player-MainPanel {
    display: flex;
    font-family: ArialMT, sans-serif;
    font-size: 20px;
}

.Player-AlbumCover {
    margin-right: 15px;
    height: 53px;
    min-width: 53px
}

.Player-TrackWrapper {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    color: #D8D8D8;
}

.Player-Track {
    -webkit-appearance: none;
    border: 1px solid #979797;
    margin-right: 16px;
    height: 0;
    outline: none;
    width: 100%;
}

.Player-Track::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 20px;
    background: #D8D8D8;
    border-radius: 4.5px;
    cursor: pointer;
}

.Player-Track::-moz-range-thumb {
    width: 12px;
    height: 20px;
    background: #D8D8D8;
    border-radius: 4.5px;
    cursor: pointer;
}

.Player-Volume {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.Player-Controls {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    color: #D8D8D8;
    display: flex;
}

.Player-VolumeSlider {
    -webkit-appearance: none;
    border: 2px solid #ececec;
    margin-right: 20px;
    height: 0;
    outline: none;
    flex-grow: 1;
}

.Player-VolumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #605757;
    border-radius: 50%;
    cursor: pointer;
    height: 16px;
    width: 16px;
}

.Player-NextButton {
    transform: rotate(180deg);
    margin: 0 15px;
}

.Player-VolumeSliderValue {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    color: #D8D8D8;
}
