.Header {
    height: 90px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    z-index: 20;
}

.Header-Logo {
    margin-right: 10px;
    float: left;
}

.Header-Logo {
    margin-right: 10px;
    float: left;
}

.Header-Button {
    display: none;
}
